<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/style.css">
</head>
<body>
    <header>
        <h1>Enjoy Playing..</h1>
    </header>
    <div class='container'>
        <form method='post' action='/add_player'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Add Player</button>
            <hr>
        </form>
        <form method='post' action='/Players'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">See Players</button>
            <hr>
        </form>
        <form method='post' action='/Execute'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Execute Round</button>
            <hr>
        </form>
        <form method='post' action='/showStanding'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Show standing</button>
            <hr>
        </form>
        <form method='post' action='/getFixture'>
            <input class='hidden' type="text" hidden value='<%=t_id%>' name='t_id'>
            <button type="submit">Get Fixture</button>
            <hr>
        </form>
    </div>
</body>
</html>
